---
layout: default
---
<div class="container content" style="text-align: center">
    <h1 class="post-title" style="text-align: center">
        {{ site.author }}
    </h1>
    {{ content }}
    <div>
        <a href="mailto:{{ site.email }}" class="button">
            我的邮箱
        </a>
        &nbsp;
        <a href="https://github.com/SunA0" class="button">
            github
        </a>
    </div>
    
</div>
<script>
    (function(d,t) {
        var BASE_URL="https://io.345658.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        g.async = true;
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
            window.chatwootSDK.run({
                websiteToken: 'kYZVeJTrNtfRYyiyb2bRCVDg',
                baseUrl: BASE_URL
            })
        }
    })(document,"script");
</script>

