---
layout: default
---

<div class="content container">
    <div class="post-date">
        <time>{{ page.date | date: '%B %d, %Y '}}</time>
        {% for t in page.tag %}
        <span class="tag">
            {{t}}
        </span>
    {% endfor %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</div>
<script>
    (function(d,t) {
        var BASE_URL="https://io.345658.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        g.async = true;
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
            window.chatwootSDK.run({
                websiteToken: 'kYZVeJTrNtfRYyiyb2bRCVDg',
                baseUrl: BASE_URL
            })
        }
    })(document,"script");
</script>
